#navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 30px;
}

#navbar img {
    height: 5em;
    width: 5em;
    border-radius: 20%;
}

#navbar img:hover {
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

button {
    height: 50px;
    /* width: 200px; */
    border: solid 1px black
}

.map-container {
    height: 40em;
    width: 45%;
}

#editUserForm {
    display: flex;
    flex-direction: column;
    gap: 3em;
}
