#navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 30px;
    margin: 2em;
}

#navbar img {
    height: 3em;
    width: 3em;
    border-radius: 20%;
}

#navbar img:hover {
    cursor: pointer;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

button {
    height: 50px;
    /* width: 200px; */
    border: solid 1px black
}

.map-container {
    height: 40em;
    width: 45%;
}

#editUserForm {
    display: flex;
    flex-direction: column;
    gap: 3em;
    width: 30vw;
    margin: 3em auto;
}

#editUserForm input {
    margin: 0 auto;
}

#editUserForm button {
    width: 20%;
    margin: 0 auto;
}

.editUserInput {
    width: 10em
}

#searchArea {
    position: relative;
}

#searchArea nav {
    position: absolute;
    top: 100%; /* Position the dropdown below the search bar (you can adjust this value as needed) */
    left: 0;
    
    /* Styling for the dropdown */
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-height: 200px; /* Set a maximum height for the dropdown to prevent it from covering everything */
    overflow-y: auto; /* Enable vertical scrolling if the dropdown overflows */
    z-index: 9999; /* Set a */
}

#filters {
    /* height: 50px;
    width: 200px; */
    border: solid 1px red;
}
