#navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 0px 30px;
}

#navbar img {
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

#buttons {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

button {
    height: 50px;
    /* width: 200px; */
    border: solid 1px black
}